<%= provide(:title, "Home") %>
<div class="row">
<div class="container">
<div class="m-t-1">
<center>

<h1>Student ACM of Memphis</h1>
<p>

Welcome to the Association of Computing Machinery University of Memphis Student Chapter.<br><br>

Check back frequently for updates and changes as we continue to develop our website and community. <br> <br> 

In the meantime, feel free to check out our latest event:

</p><br>

<%= image_tag("ACMSpooky.jpg", width: "75%", height:"35%") %><br>
</center>
</div>
</div>
</div>